<html>
<head>
    <title><%= title %></title>
    <script src="/js/binary/binary.js"></script>
    <script src="/js/receiver.js"></script>
    <script src="/js/demo-client.js"></script>
</head>
<body>
<canvas id='keyframe' style="position:absolute;top:0px;left:0px"></canvas>
<script>
    (function () {
        var serverUrl = "ws://" + window.location.hostname + ":9001",
            room = '<%= room %>'
            canvasKeyFrame = document.getElementById('keyframe'),

        new DemoReceive(serverUrl, room, canvasKeyFrame);
    })()
</script>
</body>
</html>