<html>
<head>
    <title><%= title %></title>
    <script src="/js/binary/binary.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/receiver.js"></script>
    <script src="/js/demo-client.js"></script>
</head>
<body>
<button id="startButton" style="float:left">Join session</button>
<button id="screenshotButton" style="float:left">Request screenshot</button>
<canvas style="width:800px"></canvas>
<script>
    (function () {
        var serverUrl = "wss://" + window.location.hostname + ":9001",
            room = '<%= room %>',
            startButton = document.getElementById('startButton'),
            screenshotButton = document.getElementById('screenshotButton'),
            canvas = document.getElementsByTagName('canvas')[0];

        new screenshare.DemoReceive(serverUrl, room, startButton, screenshotButton, canvas);
    })()
</script>
</body>
</html>